
/* TABLE STYLING */
.table-container {
    display: flex;
    justify-content: center;
    gap: 0px;
}

caption {
    padding: 12px;
    font-size: 36px;
}

#libTable {
    width: 60%;
    justify-self: center;
    border-collapse: collapse;
    font-family: sans-serif;
}

#libTable thead {
    background-color: #007bff;
    color: white;
}

#libTable thead th {
    padding: 10px;
    color: white;
    font-weight: 500;
}

#libTable tbody {
    background-color: #f8f9fa;
}

#libTable tbody tr {
    border-bottom: 1px solid #ccc;
}

#libTable tbody td {
    padding: 10px;
}

/* Hover effect for rows */
#libTable tbody tr:hover {
    background-color: #f1f1f1;
}

/* BUTTON STYLING */
#button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.delete-button {
    cursor: pointer;
    margin-left: 0px;
    padding: 10px
}

.actions {
    display: flex;
    padding: 16px;
    gap: 16px;
    justify-content: center;
}

#btn-add, #btn-save {
    width: 100px;
    padding: 4px;
}

.delete-button {
    font-family: sans-serif;
    cursor: pointer;
    margin-left: 10px;
    padding: 11px;
    margin-bottom: 1px;
}