* {
    outline: solid 1px black;
}

/* TABLE */
table {
    border-collapse: collapse;
}

th, td {
border: 1px solid black;
text-align: left;
padding: 16px;

}

th {
    background-color: #f2f2f2;
}
  
/* Add new book form */
.form-container {
    display: flex;
    width: 100vw;
  }
  
input {
    margin: 5px;
    width: 10vw;
}
